*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
    list-style: none;
    text-decoration: none;
}

.image{
    max-width: 100%;
    height: 2em;
    
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 10%;
}

.navmenu{
    display: flex;
}

.navmenu a{
    color: #B86948;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 500;
    padding: 10px 20px;
    transition: all .42s;
}

.navmenu a:hover{
    color: #ff3000;
}

.navmenu .active{
    color: #ff3000;
}

#menu-icon{
    font-size:35px;
    color: #B86948;
    z-index: 10001;
    cursor: pointer; 
    display: none;
}


section{
    padding: 0 14%;
}

.main{
    width: 100%;
    height: 100vh;
    background-image: url("bg.jpeg");
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

.text h5{
    color:#B86948;
    font-size: 1,25rem;
    font-weight: 600;
}

.text h1{
    font-size: 3,70rem;
    color: #EBF0FF;
    font-weight: 700;
    line-height: 1.2;
    margin: 15px 0;
}

.text p{
    font-size: 15px;
    color: #EBF0FF;
    font-weight: 400;
    letter-spacing: 0.5px;
    line-height: 28px;
    margin-bottom: 2,25rem;
}

.text a{
    display: inline-block;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    padding: 12px 30px;
    border-radius: 4px;
    transition: all .42s;
}

.text .btn{
    margin-left: 20px;
}

.main-img{
    position: relative;
    width: 100%;
    height: auto;
}

.main-img img{
    max-width: 70%;
    width: 500px;
    height: auto;
    animation-name: slide;
    animation-duration: 4s;
    animation-iteration-count:infinite;
}

@keyframes slide{
 0%{
    transform: translateY(0px);
 }

 50%{
    transform: translateY(-15px);
 }

 100%{
    transform: translateY(0px);
 }

}

@media(max-widthh)
{
    header{
        padding: 0 4%;
        transition: all .4s;
    }

    section{
        padding: 0 4%;
        transition: .3s;
    }
}

@media (max-width:1195px){
    .text h1{
        font-size: 50px;
        transition: .3s;
    }

.text h5{
    font-size: 17px;
    transition: .3s;
}

.text p{
    font-size: 11px;
    transition: .3s;
}

.main-img img{}

}
  